@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 1rem;
  width: 80%;
}

div {
  padding: 0.2rem;
}

body {
  background-color: antiquewhite;
}

ul {
  list-style: none;
}

li {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 1rem 25rem;
  border-radius: 5px;
}

.song {
  font-family: "Noto Sans", sans-serif;
}

.footer {
  background-color: #1e293b;
  padding: 2rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
  margin: 2rem 0rem 0rem 0rem;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
}

h1 {
  background-color: #e2e8f0;
  padding: 1.5rem;
  margin-top: 0rem;
}
